@use '../../../assets/styles/internals/index';

.header {
  padding: 3rem 0 2rem;

  background-image: url('../../img/top-line.png');
  background-repeat: repeat-x;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 659.99px) {
      justify-content: space-between;
      gap: 2rem;
    }
  }

  @media (min-width: 659.99px) {
    &.active + .main {
      padding-top: 11.4rem;
    }

    &.active {
      position: fixed;
      width: 100%;
      padding: 0.6rem 0;

      background-image: unset;
      background-color: $white-100;
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

      z-index: 100;

      animation: smoothHeader 2s;
    }

    &.active .logo {
      width: 4rem;
      padding-bottom: 3.2rem;
    }

    &.active .nav__list {
      gap: 2.2rem;
    }

    &.active .nav__item--btn {
      display: block;
    }

    &.active .nav__link {
      font-size: 1.4rem;
    }
  }
}

@keyframes smoothHeader {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}

.logo {
  position: relative;

  width: 8rem;
  padding-bottom: 6.4rem;
}

.nav {
  display: none;

  @media (min-width: 659.99px) {
    display: block;

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.4rem;
    }

    &__item {
      display: none;

      &--tablet {
        display: block;
      }

      &--btn {
        display: none;
      }

      &__btn.btn-order {
        justify-content: center;
        width: 20rem;
        height: 4.8rem;
        margin: unset;

        font-size: 1.4rem;

        z-index: 10;
      }
    }

    &__link {
      @include text-15;
    }
  }

  @media (min-width: 959.99px) {
    &__item {
      display: block;

      &--btn {
        display: none;
      }
    }
  }
}
