@use '../../../assets/styles/internals/index';

.tools {
  padding-top: 4rem;

  @media (min-width: 959.99px) {
    max-width: 192rem;

    background: url('../../img/tools-bg.jpg') no-repeat center top;
  }

  &__subtitle {
    margin-bottom: 0.5rem;

    @include fontz(1.8rem, 1.4, $black-030);
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 659.99px) {
      @include header-24;
      line-height: 1.4;
    }

    @media (min-width: 959.99px) {
      line-height: 1.2;
    }
  }

  &__title {
    margin-bottom: 3rem;

    @include header-24;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 659.99px) {
      margin-bottom: 5rem;

      font-size: 3rem;
    }

    @media (min-width: 959.99px) {
      font-size: 3.1rem;
    }

    &--green {
      color: $green-919;
    }
  }

  &__text {
    margin-bottom: 3rem;

    @include text-16;
    text-align: center;

    @media (min-width: 659.99px) {
      margin-bottom: 5rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 6rem;

    @media (min-width: 659.99px) {
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;
      flex-direction: row;
      justify-content: center;
    }

    @media (min-width: 959.99px) {
      gap: 1rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 29.6rem;
  }

  &__img-wrap {
    position: relative;

    width: 100%;
    width: 27rem;
    padding-bottom: 20.3rem;

    @media (min-width: 659.99px) {
      width: 29.6rem;
      padding-bottom: 22.1rem;
    }
  }

  &__img {
    object-fit: contain;
  }

  &__desc {
    @include text-16;
    text-align: center;
    font-weight: 700;
  }
}

.reason-tools {
  @media (min-width: 959.99px) {
    display: flex;
    gap: 3rem;
  }

  &__left {
    overflow: hidden;
    border-radius: 0.7rem;
    margin-bottom: 3rem;
  }
}

.left-reason {
  &__video {
    width: 100%;
    border-radius: 0.7rem;
  }
}

.right-reason {
  @media (min-width: 959.99px) {
    width: 100%;
    max-width: 34.4rem;
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 1.5rem;

    @include text-19;
    text-align: center;
    font-weight: 700;

    @media (min-width: 659.99px) {
      margin-bottom: 2rem;
    }

    @media (min-width: 959.99px) {
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 2rem;

    @include text-16;

    @media (min-width: 659.99px) {
      margin-bottom: 1.4rem;
    }
  }
}
