@use '../../assets/styles/internals/index';

.benefits {
  position: relative;

  padding: 2.5rem 0 3rem;

  background-image: url('../../img/bg-mob.jpg');
  background-color: $black-100;
  background-repeat: no-repeat;
  background-position: center 0;
  background-position: 50% 0;

  @media (min-width: 659.99px) {
    background-image: url('../../img/bg-tab.jpg');
  }

  @media (min-width: 959.99px) {
    padding: 3rem 0 4rem;

    background-image: url('../../img/bg.jpg');
  }

  &__title {
    margin-bottom: 2rem;

    @include header-42;

    text-transform: uppercase;
    text-align: center;

    @media (min-width: 659.99px) {
      margin-bottom: 2.6rem;
    }

    @media (min-width: 681.99px) {
      margin-bottom: 5rem;
    }

    @media (min-width: 959.99px) {
      margin-bottom: 6rem;

      font-size: 5.2rem;
    }

    &--yellow {
      color: $yellow-fdb;
    }
  }

  &__subtitle {
    margin-bottom: 1rem;

    @include header-17;

    text-transform: uppercase;
    text-align: center;

    @media (min-width: 659.99px) {
      @include header-20;
    }

    @media (min-width: 959.99px) {
      font-size: 2.3rem;
    }
  }

  &__left {
    width: 32rem;
    margin: 0 auto;
    min-height: 50rem;

    @media (min-width: 745.99px) {
      width: 50%;
    }
  }

  &__rigth {
    @media (min-width: 745.99px) {
      width: 50%;
    }
  }

  &__guarantee {
    position: absolute;
    top: 21.5rem;
    left: 50%;

    width: 11.8rem;
    height: 12.3rem;
    padding-top: 2.4rem;

    @include text-13;
    color: $black-100;
    font-weight: 700;
    text-align: center;

    background-image: url('../../img/garantee.png');
    background-repeat: no-repeat;

    transform: translateX(-122%);

    @media (min-width: 659.99px) {
      top: 16rem;
      transform: translateX(-269%);
    }

    @media (min-width: 959.99px) {
      top: 20rem;
      transform: translateX(-357%);
    }

    &--bold {
      @include fontz(2.6rem, 1, $black-100);
    }
  }

  &__content {
    @media (min-width: 659.99px) {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
  }
}

.right-benefits {
  @media (min-width: 584.99px) {
    padding-top: 2.2rem;
  }

  @media (min-width: 601.99px) {
    padding-top: 8rem;
  }

  @media (min-width: 659.99px) {
    padding-top: unset;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 34.8rem;
    height: 10.9rem;
    margin: 0 auto 3rem;

    @include fontz(1.6rem, 1.3, $black-020);
    font-weight: 700;
    text-align: center;

    background-image: url('../../img/benefits-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: 818.99px) {
      max-width: 44rem;
      padding: 0 3rem;
    }

    @media (min-width: 849.99px) {
      padding: 0 4rem;
    }

    @media (min-width: 914.99px) {
      width: 44rem;
      padding: unset;
      margin-bottom: 4.5rem;

      font-size: 2rem;
      background-size: cover;
    }

    @media (min-width: 959.99px) {
      width: 100%;
      max-width: 44rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 38rem;
    margin: 0 auto 4rem;

    @media (min-width: 659.99px) {
      width: 26rem;
    }

    @media (min-width: 756.99px) {
      width: 100%;
      max-width: 30rem;
    }

    @media (min-width: 899.99px) {
      width: 38rem;
      max-width: unset;
      gap: 2.8rem;
    }
  }

  &__item {
    position: relative;
    padding-left: 3.5rem;

    @include text-16;
    color: $white-100;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;

      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;

      background-color: $yellow-fdb;
      transform: translateY(-50%);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0.5rem;
      top: 50%;

      width: 1.2rem;
      height: 0.6rem;
      border: 0.2rem solid $black-100;
      border-top: none;
      border-right: none;

      background-color: transparent;
      transform: translateY(-50%) rotate(-50deg);
    }
  }

  &__term-benefits {
    display: none;

    @media (min-width: 959.99px) {
      display: block;
    }
  }

  &__btn {
    @media (min-width: 959.99px) {
      margin-bottom: 2rem;
    }
  }
}

.btn-order {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 7.2rem;
  border: none;
  border-radius: 3.6rem;
  margin: 0 auto;

  @include text-19;
  color: $white-100;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0.2rem 0 $yellow-d59;

  background: linear-gradient(to bottom, $yellow-f9d 1%, $yellow-ffa 100%);
  cursor: pointer;
  z-index: 10;
  overflow: hidden;
}

.animate {
  position: absolute;
  top: -2rem;
  left: -14rem;

  display: block;
  height: 20rem;
  width: 25rem;
  border-radius: 100%;

  background: $white-100;
  transform: scale(0);
  z-index: 20;

  animation: ripple 3s linear infinite;
}

@keyframes ripple {
  20% {
    opacity: 0;
    transform: scale(2.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.btn-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 959.99px) {
    position: relative;

    justify-content: flex-end;
    flex-direction: row;
  }

  &__btn {
    margin: unset;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 7.2rem;
    width: 21.5rem;
    border-radius: 4rem 4rem 0 0;
    padding: 2.5rem 0 0 0;

    background-color: $white-100;

    @media (min-width: 959.99px) {
      position: absolute;
      left: 0;

      padding: 1rem;
      align-items: flex-start;
      border-radius: 4rem 0 0 4rem;
      z-index: 1;
    }
  }

  &__price-old {
    @include header-17;
    color: $grey-8b8;
    font-weight: 400;
    text-decoration: line-through;

    @media (min-width: 959.99px) {
      padding-left: 2rem;
    }
  }

  &__price-new {
    @include fontz(2.6rem, 1, $green-505);
    font-weight: 700;
  }
}

.term-benefits {
  display: flex;
  justify-content: center;
  gap: 0.7rem;

  &__text {
    @include text-15;
    color: $white-100;
  }
}

.timer-benefits {
  display: flex;

  &__item {
    @include text-16;
    color: $yellow-fdb;
    font-weight: 700;
  }
}
