@use '../../assets/styles/internals/index';

.characteristic {
  padding: 4rem 0;

  background-color: $grey-f4f;

  @media (min-width: 959.99px) {
    padding: 5rem 0;
  }

  &__subtitle {
    margin-bottom: 0.5rem;

    @include header-17;
    line-height: 1.4;
    color: $black-030;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 659.99px) {
      margin: unset;

      font-size: 2.1rem;
    }
  }

  &__title {
    margin-bottom: 4rem;

    @include header-24;
    line-height: 1.2;
    color: $black-030;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 659.99px) {
      margin-bottom: 5rem;

      font-size: 3rem;
    }

    @media (min-width: 959.99px) {
      font-size: 3.1rem;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto 3rem;

    @media (min-width: 959.99px) {
      margin-bottom: 6.5rem;
    }

    & td {
      font-size: 1.4rem;

      @media (min-width: 659.99px) {
        font-size: 1.5rem;
      }
    }

    & td:nth-child(odd) {
      padding: 0.5rem 0 0.5rem 0.5rem;
      border-radius: 0.5rem 0 0 0.5rem;

      @media (min-width: 659.99px) {
        padding: 0.8rem 0 0.8rem 1.5rem;
      }
    }

    & tr:nth-child(odd) td {
      background-color: $white-100;
    }

    & td:nth-child(even) {
      padding: 0.5rem 0.5rem 0.5rem 0;
      border-radius: 0 0.5rem 0.5rem 0;

      @media (min-width: 659.99px) {
        padding: 0.8rem 1.5rem 0.8rem 0;
      }
    }
  }

  &__content {
    @media (min-width: 959.99px) {
      display: flex;
      justify-content: space-between;
      gap: 4rem;
    }
  }

  &__left {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto 3rem;

    @media (min-width: 959.99px) {
      width: 100%;
      max-width: 50rem;
      margin: unset;
    }
  }
}

.guarantee-characteristic {
  &__content-wrap {
    position: relative;

    display: none;
    width: 100%;
    max-width: 30rem;
    padding: 0 1.5rem 1.5rem;
    border-radius: 0 0 0.6rem 0.6rem;
    margin: 0 auto;

    color: $white-100;

    background-color: $green-919;
  }

  &__btn-wrap {
    position: relative;

    width: 100%;
    max-width: 64rem;
    margin: 0 auto;

    &:before {
      content: '';
      position: absolute;

      right: 2rem;
      top: 50%;

      width: 1rem;
      height: 1rem;
      border: 0.2rem solid $white-100;
      border-top: none;
      border-right: none;

      transform: translateY(-50%) rotate(-45deg);

      @media (min-width: 959.99px) {
        right: 3rem;
      }
    }

    &.active:before {
      transform: translateY(-50%) rotate(136deg);
    }

    &.active .guarantee-characteristic__btn {
      border-radius: 0.6rem 0.6rem 0 0;
    }

    &.active + .guarantee-characteristic__content-wrap {
      display: block;
    }
  }

  &__btn {
    width: 100%;
    min-width: 30rem;
    border-radius: 0.6rem;
    padding: 1.5rem;

    color: $white-100;
    text-align: left;

    background-color: $green-919;

    &--thick {
      display: block;
      margin-bottom: 0.5rem;

      @include header-20;
      line-height: 1.1;
      font-weight: 700;
      text-transform: uppercase;

      @media (min-width: 959.99px) {
        font-size: 2.3rem;
      }
    }
  }
}

.characteristic__right {
  @media (min-width: 959.99px) {
    width: 100%;
    max-width: 36.3rem;
  }
}

.right-characteristic {
  &__img-wrap {
    position: relative;

    width: 100%;
    max-width: 30rem;
    padding-bottom: 30.6rem;
    margin: 0 auto 3rem;

    @media (min-width: 659.99px) {
      max-width: 36.3rem;
      padding-bottom: 37.5rem;
    }
  }
}
