$white-100: #ffffff;

$black-030: #030200;
$black-222: #222222;
$black-020: #020200;
$black-100: #000000;
$black-20: #00000020;
$black-15: #00000015;

$yellow-fdb: #fdb916;
$yellow-f9d: #f9d126;
$yellow-ffa: #ffae00;
$yellow-d59: #d5970a;

$green-4e5: #4e522e;
$green-919: #91975f;
$green-a2a: #a2a46f;
$green-505: #505942;

$grey-f4f: #f4f4f4;
$grey-8b8: #939191;
$grey-8b8: #8b8b8b;
$grey-6C6: #6C6E6F;

$anim: all 0.2s linear;
