@font-face {
  font-family: 'Montserrat';
  src: local('montserrat'), url('../../fonts/montserrat/montserrat.woff2') format('woff2'),
    url('../../fonts/montserrat/montserrat.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
